<tr>
  <td class="text-left py-3 px-4">
    <%= link_to entry.player, entry %>
  </td>
  <td class="text-left py-3 px-4">
    <%= entry.played_at %>
  </td>
  <td class="text-left py-3 px-4">
    <%= entry.rank %>
  </td>
  <td class="text-left py-3 px-4">
    <%= entry.score %>
  </td>
</tr>
