<tr>
  <td class="text-left py-3 px-4">
    <%= link_to entry.player, entry, class: 'hyperlink', data: { 'turbo-stream': 'true', 'turbo-action': 'advance' } %>
  </td>
  <td class="text-left py-3 px-4">
    <%= l entry.played_at %>
  </td>
  <td class="text-left py-3 px-4">
    <%= entry.rank %>
  </td>
  <td class="text-left py-3 px-4">
    <%= entry.score.round(2) %>
  </td>
</tr>
