<%= form_with(model: tournament, id: "#{dom_id(tournament)}_form") do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 font-medium rounded-lg mt-3">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>
      <ul>
        <% tournament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex items-stretch flex-grow">
    <%= form.label :results, class: "sr-only" %>
    <div class="flex items-stretch flex-grow rounded-md sm:text-sm outline outline-dashed border-gray-300" id="results-drop" contenteditable="true">
      <p>Paste tournament results here ...</p>
    </div>
    <a href="https://youtu.be/z4Yok570FtM" target="_new"
      class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold text-sm ml-2 p-1 rounded-full inline-flex items-center transition duration-150 ease-in-out" >
      <svg class="h-4 w-4 text-black"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <circle cx="12" cy="12" r="9" />
        <line x1="12" y1="17" x2="12" y2="17.01" />
        <path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" />
      </svg>
    </a>
  </div>
<% end %>
