  <h2 class="text-2xl font-normal leading-normal mt-0 mb-2 text-gray-800"><%=@tournament.name%> (<%=@tournament.short_guid%>)</h2>
  <h3 class="text-1xl font-norma leading-normal mt-0 mb-2 text-gray-700">Entries</h3>
  <div class="py-1 min-w-full">
    <div class="shadow overflow-hidden rounded border-b border-gray-200 min-w-full">
      <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
              Player
            </th>
            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
              Date
            </th>
            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
              Rank
            </th>
            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
              Score
            </th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          <%= render @tournament.entries.order(score: :desc) %>
        </tbody>
      </table>
    </div>
  </div>
  <h3 class="text-1xl font-norma leading-normal mt-0 mb-2 text-gray-700">Boards</h3>
  <div class="py-1 min-w-full">
    <div class="shadow overflow-hidden rounded border-b border-gray-200 min-w-full">
      <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Board</th>
            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">North</th>
            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">South</th>
            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">East</th>
            <th class="text-left py-3 px-4 uppercase font-semibold text-sm">West</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: '/tournaments/board', collection: @tournament.deals, as: 'board' %>
        </tbody>
      </table>
    </div>
  </div>
